body{
    font-family: Arial, sans-serif;
    background:#f4f6f8;
}

.container{
    width:600px;
    margin:40px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

form{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-bottom:20px;
}

.form_buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    gap: 10px;
}

input{
    flex:1;
    padding:8px;
}

button{
    padding:8px 14px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    border-bottom:1px solid #ddd;
    text-align:center;
}
